<html>
   <head>
      <title>Programa&ccedil;&atilde;o para Web - HTML + CSS + Javascript</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="/js/main.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
   </head>
   </div>
   <body>
      <div class="svg-container">
         <svg viewbox="0 0 800 300" class="svg">
            <path id="curve" d="M 800 100 Q 400 350 0 100 L 0 0 L 800 0 L 800 100 Z">
            </path>
         </svg>
      </div>
      <header>
         <h1>Programa&ccedil;&atilde;o para Web</h1>
         <h3>Utilizando HTML, CSS e JavaScript</h3>
      </header>
      <form action="#" id="formCadastro" method="POST">
         <fieldset>
            <fieldset class="grupo">
               <div class="campo">
                  <label for="nome">Nome</label>
                  <input type="text" id="nome" name="nome" style="width: 10em" value="">
               </div>
               <div class="campo">
                  <label for="nome">Sobrenome</label>
                  <input type="text" id="sobrenome" name="sobrenome" style="width: 10em" value="">
               </div>               
               <div class="campo">
                  <label>Sexo</label>
                  <label>
                  <input type="radio" id="masculino" name="sexo" value="masculino"> Masculino
                  </label>
                  <label>
                  <input type="radio" id="feminino" name="sexo" value="feminino"> Feminino
                  </label>
               </div>
               <div class="campo">
                  <label for="email">E-mail</label>
                  <input type="text" id="email" name="email" style="width: 15em" value="">
               </div>
               <div class="campo">
                  <label for="telefone">Telefone</label>
                  <input type="text" id="telefone" name="telefone" style="width: 15em" value="">
               </div> 
                             
            </fieldset>
            <br>
            <input type="button" class="button" id="adicionar" value="Adicionar">
         </fieldset>
      </form>
      <div class="row" id="cardsAdicionados">
   </body>
</html>